	<div class="row" id="hero">
		<div class="container">
			<div class="home-hero col-xs-12">
			<!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

				<div id="mc_embed_signup">
				<form action="//page-anchor.us14.list-manage.com/subscribe/post?u=cf0bee237d094927eef0c68e2&amp;id=db8eb04c29" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					<label for="mce-EMAIL">Enter your email to get full access to our list of ads</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cf0bee237d094927eef0c68e2_db8eb04c29" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
				</div>
			<!--End mc_embed_signup-->
			</div>
	    </div>
	</div>

<div class="row" id="mainapp" ng-app="mainApp" ng-controller="ProfileCtrl">
		<main class="main-content" role="main">
			<div style="color:#fff" class="container panel panel-default" id="main-container">
				<div class="profile-wrapper col-xs-12">
					<div class="card-profile">
					<img class="profile-logo" src="{{ profile.logo }}" />
					<h4 class="profile-title">{{ profile.name }}</h4>
					</div>
				</div>
			</div>
		</main>
	</div>