<!-- HEADER / HERO VIEW -->

	<div class="row" id="hero">
		<div class="container">
			<div class="home-hero col-xs-12">
			<h2>Good Facebook Ads</h2>
			<h3>Get inspired by 3,583+ ads.</h3>
			<h4>Learn how some of the best companies structure their Facebook ads.</h4>
			</div>

			<div class="search-group col-xs-12 col-lg-6 col-lg-offset-3">
				<div class="main-search">
					<input type="text" id="big-search" placeholder="Retargeting, eCommerce, Nike, etc." ng-model="searchCards">
				</div>

				<div class="tag-group text-center">
					<span ng-click="searchCards = 'ecommerce' " class="tag ecommerce">eCommerce</span>
					<span ng-click="searchCards = 'retargeting' " class="tag retargeting">Retargeting</span>
					<span ng-click="searchCards = 'cart drop' " class="tag cart drop">Cart Drop</span>
				</div>
		    </div>
	    </div>
	</div>